<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="300 seconds" debug="true">

	<!-- 日志文件存储路径 -->
	<property name="LOG_HOME" value="${LOGGER_ROOT_PATH}/logs/${PROJECT_NAME}"></property>
	
	<!-- 控制台输出 -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %C.%M[%L] - %msg%n</pattern>
		</encoder>
	</appender>
	
	<!-- 按天生成日志文件 -->
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- 日志文件输出文件名 -->
			<FileNamePattern>${LOG_HOME}/${PROJECT_NAME}-log.%d{yyyy-MM-dd}-%i</FileNamePattern>
			
			<!--日志文件保留天数-->
			<MaxHistory>30</MaxHistory>
			
			<!-- 设置每个文件大小-->
			<maxFileSize>512MB</maxFileSize>

			
		</rollingPolicy>
		
		<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %C.%M[%L] - %msg%n</pattern>
		</encoder>
		
		
	</appender>
	
	<!-- 日志输出级别 -->
	<root name="com"  level="INFO">
		<appender-ref ref="FILE" />
	</root>		

</configuration>
